@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rose: #c37c7c;
  --heroheightsm: calc(100vh - 60px);
  --heroheightmd: calc(100vh - 80px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Forum-Regular', Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, .nav_text, .menu_item, .small_nav span{
  font-family: 'Comfortaa-Bold', Verdana, Geneva, Tahoma, sans-serif;
}

.title{
  @apply text-4xl text-rose text-center my-16 uppercase;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover, .cart:hover{
  @apply transition-all scale-110 duration-300 ease-in-out;
}

.btn_cta{
  @apply border-rose border-2 rounded-full px-8 py-3 text-white block mx-auto text-[1.3rem];
  font-family: 'Comfortaa-Bold', Verdana, Geneva, Tahoma, sans-serif;
}

.btn_cta:hover{
  @apply scale-110 transition-all duration-300 ease-in-out text-white;
}

@font-face {
  font-family: "Comfortaa-Light";
  src: local("/fonts/Comfortaa-Light"),
   url("/fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Comfortaa-Medium";
  src: local("/fonts/Comfortaa-Medium"),
   url("/fonts/Comfortaa-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: local("/fonts/Comfortaa-Bold"),
   url("/fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Forum-Regular";
  src: local("/fonts/Forum-Regular"),
   url("/fonts/Forum-Regular.ttf") format("truetype");
  font-weight: medium;
}

/*########################  Nav ##########################*/

.logo{
  border-radius: 100%;
  border-bottom: 4px solid var(--rose);
}

.nav_text{
  @apply mx-4 place-self-center text-rose text-base uppercase;
}

.menu_item{
  @apply block text-rose mt-5 text-center text-base uppercase;
}

.openmenu{
  transform: rotate(90deg);
  transition: transform 600ms;
}
.closemenu{
  transform: rotate(0deg);
  transition: transform 600ms;
}

.menuheight{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 400ms, opacity 400ms, visibility 400ms;
  }
  .noheight{
    visibility: hidden;
    opacity: 0;
    transform: translateX(-120%);
    transition: transform 400ms, opacity 400ms, visibility 400ms;
}


/*######################## Carousel ########################*/

.carousel{
  @apply md:h-[var(--heroheightmd)] h-[var(--heroheightsm)];
}

.hero_item{
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: zoominoutsinglefeatured 60s infinite;
}

.swiper-button-prev, .swiper-button-next{
  color: var(--rose) !important;
  text-shadow: -1px 2px 8px rgba(0, 0, 0, 0.6) !important;
}

.swiper-pagination-bullet-active {
  background: var(--rose) !important;
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*######################## Product ########################*/

.product_box{
  @apply w-[200px] h-[200px] bg-bege rounded-3xl overflow-hidden;
  border-bottom: 2px solid #c37c7c;
}

.fav_item{
  @apply hover:scale-105 transition-all duration-500 m-2;
}

.fav_item img{
  @apply object-cover w-[90vw] h-auto sm:w-full sm:h-32 md:h-48;
}

/*######################## Categories ########################*/

.fav_categories{
  @apply flex flex-wrap justify-center align-middle mb-20 py-20;
}

.fav_categories div{
  @apply hover:scale-105 transition-all duration-100 rounded-lg overflow-hidden;
}

.fav_categories div img{
  @apply hover:scale-110 transition-all duration-700 overflow-hidden;
}


.categories{
  @apply flex flex-row justify-evenly align-middle flex-wrap;
}

.categories_div{
  @apply p-4 flex flex-col text-center items-center hover:scale-105 duration-300 transition-all;
}

.categories_items{
  @apply w-20 h-20 inline-flex items-center justify-center rounded-full text-white mb-5 flex-shrink-0;
}

.cat_description{
  @layer text-lg title-font font-medium mb-3;
}

/*######################## Galery ########################*/

.galery img{
  @apply h-full w-full object-cover rounded-lg;
}

