@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rose: #c37c7c;
  --heroheightsm: calc(100vh - 60px);
  --heroheightmd: calc(100vh - 80px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Comfortaa-Medium', Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth !important;
}

h1, h2, h3, h4, h5, .nav_text, .menu_item, .small_nav span, p{
  font-family: 'Comfortaa-Bold', Verdana, Geneva, Tahoma, sans-serif;
}

.title{
  @apply text-3xl md:text-4xl text-rose text-center my-16 mb-12 lg:mb-16 uppercase pt-8 font-bold;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover, .cart:hover{
  @apply transition-all scale-105 duration-300 ease-in-out;
}

.btn_cta{
  @apply border-rose border-2 rounded-full px-8 py-3 text-white block mx-auto text-[1.3rem];
  font-family: 'Comfortaa-Bold', Verdana, Geneva, Tahoma, sans-serif;
}

.btn_cta_rose{
  @apply border-white border-2 rounded-full px-8 py-3 text-white block mx-auto text-[1.3rem] hover:scale-110 duration-300 transition-[transform] mt-24;
  font-family: 'Comfortaa-Bold', Verdana, Geneva, Tahoma, sans-serif;
}

.btn_cta:hover{
  @apply scale-110 transition-all duration-300 ease-in-out text-white;
}

.x_menu{
  @apply block text-end pr-4 text-rose text-2xl;
}

@font-face {
  font-family: "Comfortaa-Light";
  src: local("/fonts/Comfortaa-Light"),
   url("/fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Comfortaa-Medium";
  src: local("/fonts/Comfortaa-Medium"),
   url("/fonts/Comfortaa-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: local("/fonts/Comfortaa-Bold"),
   url("/fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Forum-Regular";
  src: local("/fonts/Forum-Regular"),
   url("/fonts/Forum-Regular.ttf") format("truetype");
  font-weight: medium;
}

::-webkit-scrollbar {
  @apply w-3;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}
 
::-webkit-scrollbar-thumb {
  @apply bg-rose rounded-sm;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black;
}

/*########################  Nav ##########################*/

.logo{
  border-radius: 100%;
  border-bottom: 4px solid var(--rose);
}

.nav_text{
  @apply mx-4 place-self-center text-rose text-base uppercase;
}

.menu_item{
  @apply block text-rose mt-5 text-center text-base uppercase;
}

.nav_active{
 @apply border-b-rose border-b-2 border-opacity-30; 
}

.openmenu{
  transform: rotate(90deg);
  transition: transform 600ms;
}
.closemenu{
  transform: rotate(0deg);
  transition: transform 600ms;
}

.small_nav{
  @apply absolute top-[62px] h-fit w-full pb-10 z-[201] bg-white;
}

.activemenu{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 400ms, opacity 400ms, visibility 400ms;
  }

  .hidemenu{
    visibility: hidden;
    opacity: 0;
    transform: translateX(-120%);
    transition: transform 400ms, opacity 400ms, visibility 400ms;
}



/*######################## Cart ########################*/

.showcartmenu{
  visibility: visible;
  opacity: 1;
}

.hidecartmenu{
  visibility: hidden; 
  opacity: 0;
}

.showcart{
  transform: translateX(0);
  transition: transform 200ms;
}

.hidecart{
  transform: translateX(100vw);
  transition: transform 200ms;
}

.showmask{
  filter: blur(10rem);
  left: 0;
  transition: left 600ms;
}

.hidemask{
  left: 100vw;
  transition: left 600ms;
}

.mask_cart{
  @apply h-full w-full fixed top-0 z-[201] bg-[rgba(0,0,0,0.7)] cursor-pointer;
}

.cart_container{
  @apply h-full fixed top-0 right-0 w-full sm:w-[80vw] md:w-[40vw] z-[300] flex flex-nowrap flex-col sm:rounded-l-3xl overflow-y-auto p-3;
}

.x_cart{
  @apply fixed top-5 right-5 text-2xl z-[301] px-4 py-[7px] bg-white text-rose cursor-pointer rounded-full shadow-lg hover:scale-110 transition-[transform] duration-300;
}

.cart_header{
  @apply w-full h-28 text-2xl my-6 text-center grid place-content-center text-white;
}

.cart_items{
  @apply w-full h-full;
}

.item_cart{
  @apply w-full h-40 bg-white bg-opacity-70 my-3 flex flex-nowrap rounded-lg overflow-hidden shadow-2xl;
}

.cart_img{
  @apply w-1/2;
}

.cart_img img{
 @apply  h-full w-full object-cover overflow-hidden;
}

.cart_item_title{
 @apply  mt-4 sm:my-2;
}

.cart_item_content{
 @apply  p-2 w-1/2 relative;
}

.qty_controls{
 @apply  pb-4 pt-2 sm:py-4;
}

.cart_item_commands{
 @apply  mb-4;
}

.cart_btn{
 @apply bg-rose text-base sm:text-xl mr-2 sm:mr-4 w-6 h-6 sm:w-8 sm:h-8 rounded-full text-white shadow-lg hover:scale-105 transition-transform duration-300;
}

.cart_item_commands span{
 @apply  pr-2 sm:pr-4 my-3;
}

.cart_buy_btn{
 @apply  py-8;
}

.cart_buy_btn button{
 @apply border-white hover:border-2 rounded-full px-8 py-3 text-white block mx-auto text-lg bg-green bg-opacity-80 hover:scale-110 transition-all duration-300;
}

.cart_trash{
 @apply  absolute bottom-2 right-2 lg:bottom-5 lg:right-5 cursor-pointer hover:scale-110 transition-[transform] duration-300;
}

.total_price{
 @apply  text-xl text-black text-center mt-8 py-3 bg-white bg-opacity-70 rounded-lg shadow-lg;
}

/*######################## Carousel ########################*/

.carousel{
  @apply md:h-[var(--heroheightmd)] h-[var(--heroheightsm)];
}

.hero_item{
  @apply h-full w-full object-cover;
  animation: zoominoutsinglefeatured 60s infinite;
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.swiper-button-prev, .swiper-button-next{
  color: var(--rose) !important;
  text-shadow: -1px 2px 8px rgba(0, 0, 0, 0.6) !important;
}

.swiper-pagination-bullet-active {
  background: var(--rose) !important;
}

.nextui-pagination-highlight--active{
  @apply border-white border-2
}

.search_wrapper label{
  @apply opacity-80 text-2xl;
}


/*######################## Favorites ########################*/

.fav_item{
  @apply hover:scale-105 transition-all duration-500 m-2;
}

.fav_item img{
  @apply object-cover w-[90vw] h-auto sm:w-full sm:h-32 md:h-48;
}

.full_img {
  @apply  grid place-items-center z-30 fixed top-0 left-0 bottom-0 right-0 overflow-hidden;
 }

 .full_img figure{
  @apply z-30 h-[94vh];
 }

.full_img figure img{
 @apply  w-auto h-full object-contain rounded-3xl;
}

.x_mask_full_img{
 @apply  fixed top-4 right-4 z-40 bg-white h-12 w-12 grid place-items-center rounded-full text-rose text-2xl shadow-xl cursor-pointer hover:scale-110 duration-300 transition-[transform];
}

.mask_full_img{
 @apply  bg-black opacity-90 fixed top-0 left-0 z-30 w-full h-full cursor-pointer;
}

/*######################## Categories ########################*/

.fav_categories{
  @apply flex flex-wrap justify-center items-center mb-20 py-20;
}

.fav_categories div{
  @apply hover:scale-105 transition-all duration-100 rounded-lg overflow-hidden;
}

.fav_categories div img{
  @apply hover:scale-110 transition-all duration-700 overflow-hidden;
}

.categories{
  @apply flex flex-row justify-evenly items-center flex-wrap mx-10;
}

.categories_div{
  @apply p-2 sm:pb-10 flex flex-col text-center items-center hover:scale-105 duration-300 transition-all;
}

.categories_items{
  @apply inline-flex items-center justify-center rounded-full mb-5 flex-shrink-0 p-3;
}

.categories_items svg{
  @apply h-6 sm:h-10 lg:h-16 w-auto md:p-2;
}

.categories_description{
  @apply text-base mb-3;
}

.filter .nextui-button{
  @apply bg-white w-full mx-10 sm:w-fit sm:mx-0;
}

.filter {
  @apply flex flex-wrap justify-center gap-6 mb-12 mt-4;
}

/*######################## Steps ########################*/

#steps{
 @apply py-4 pb-32;
}

#steps h1{
  @apply text-2xl sm:text-4xl !text-white;
}

.steps_container{
 @apply  flex flex-wrap flex-row items-center justify-center text-white px-6 md:px-40 lg:px-60 mx-4
}


.step_content{
 @apply  flex flex-col lg:flex-row w-full items-center justify-center px-10 pr-0 md:pr-10 pb-20 relative border-l-[3px] border-white;
}

.step_figure{
  @apply bg-white rounded-full overflow-visible absolute top-0 left-0 translate-x-[-50%];
}

.step_figure img{
  @apply h-16 w-auto p-1;
}

.step_title{
 @apply  text-xl relative inline-flex border-b-[3px] border-white;
}

.step_content p{
  @apply  text-base;
 }

.steps_cta .btn_cta_rose{
 @apply  px-6 m-0 ml-3 sm:ml-0 md:ml-[9rem] lg:ml-[7rem] lg:translate-x-[55%] hover:translate-y-[0.2rem];
}

/*######################## Galery ########################*/

.galery{
  @apply text-rose;
}

.galery_grid{
  @apply px-2 md:px-6 pb-6 md:pb-10 grid grid-flow-row grid-cols-2 grid-rows-[repeat(5,minmax(100px,200px))] lg:grid-cols-3 lg:grid-rows-[repeat(4,minmax(100px,400px))] gap-3 lg:gap-6;
}

.galery_grid div:nth-child(n){
 @apply  col-span-2;
}

.galery_grid div:nth-child(2n){
  @apply  col-span-1;
 }

.galery_grid div:nth-child(3n){
  @apply  col-span-1;
}

.galery_grid div:nth-child(4n){
  @apply  col-span-2 lg:col-span-2;
}

.galery_grid div:nth-child(5n){
  @apply  col-span-1 lg:col-span-2;
}

.galery_grid div:nth-child(6n){
  @apply  lg:col-span-1;
}

.galery_grid div:nth-child(7n){
  @apply  col-span-2 lg:col-span-3;
}

.galery_grid img{
  @apply h-full w-full object-cover rounded-lg cursor-pointer;
}

/*######################## Contact ########################*/

#contact{
 @apply  h-[90vh] overflow-auto flex flex-col md:flex-row
}

.contact_img{
 @apply  h-full md:w-1/2 hidden md:flex
}

.contact_img img{
  @apply  h-full w-full object-cover pr-8
 }

.contact_form{
 @apply  h-full md:w-1/2
}

.form_container{
 @apply  flex flex-col gap-1 px-8 md:px-12 gap-y-10
}

.form_container label{
  @apply  text-rose
 }

.nextui-c-eXOOPO{
 @apply  bg-rose bg-opacity-20
}

.contact_other{
 @apply  inline-flex bg-green
}



/*######################## About ########################*/

#about .img_container{
 @apply  p-4 grid place-items-center h-[200px]
}

#about .img_container img{
  @apply h-full overflow-hidden bg-green bg-opacity-20 shadow-sm w-fit rounded-full py-6
 }


/*######################## FAQ ########################*/

#faq{
 @apply mx-6 mb-24 md:px-32 md:text-lg
}

.faq_container, .nextui-c-kRHeuF > *{
 @apply  bg-rose bg-opacity-20 overflow-hidden rounded-2xl
}

.nextui-c-fMAxGR {
  @apply bg-white bg-opacity-60 p-4 rounded-xl mb-4
}


/*######################## Footer ########################*/

.footer_wrapper{
  @apply text-white px-16 py-12 gap-y-8 lg:py-20 flex flex-col md:flex-row justify-center items-center;
}

.footer_title{
 @apply  uppercase text-lg font-bold
}

.footer_contact, .footer_nav, .footer_security {
 @apply  px-6 my-3 mr-auto border-l-2 border-opacity-50 border-white
}

.footer_security .stripe{
  @apply  flex flex-col items-start
 }

.footer_sec_icons *{
 @apply  h-16 w-14 inline-flex px-1
}


/*######################## Single Product ########################*/

.product_container{
 @apply  p-2 md:p-6 pt-12 lg:pt-16 sm:pt-20 flex flex-wrap;
}

.product_image_container{
 @apply  flex flex-col w-full min-h-[400px] max-h-[800px] md:w-1/2;
}

.product_img{
 @apply  w-full h-[70%] rounded-2xl overflow-hidden;
}

.product_img img{
  @apply w-full h-full object-cover;
}

.mini_carousel{
 @apply h-[25%] lg:h-[20%] my-3;
}

.product_content{
 @apply flex flex-col justify-center w-full md:w-1/2 px-3 md:px-10 py-5 gap-4 text-white;
}

.product_name{
 @apply  text-4xl font-bold;
}

.product_prices{
 @apply  flex justify-start items-center
}

.prices_line{
 @apply  flex flex-col justify-center
}

.product_price{
 @apply   text-lg md:text-2xl md:pl-2 text-opacity-70 text-white mr-6 line-through grid place-items-center ;
}

.product_discount{
  @apply  text-3xl font-bold grid place-items-center;
 }

 .product_discount_container{
  @apply  relative inline-flex justify-center items-center
 }

 .product_discount_img{
  @apply  w-28 h-auto p-0 m-0 ml-4 opacity-80
 }

 .product_discount_text{
  @apply  absolute top-6 right-12 text-2xl
 }

 .tags_wrapper{
  @apply flex flex-row gap-x-2;
 }

 .tags{
  @apply bg-white bg-opacity-70 w-fit rounded-full rounded-l-none text-black px-2 text-xs cursor-pointer hover:scale-105 duration-200;
 }

.product_controls{
 @apply  flex flex-row justify-center w-full py-6;
}

.product_controls button{
 @apply  bg-white text-xl text-rose h-10 w-10 mx-3 rounded-full items-center hover:scale-110 transition-[transform] duration-300;
}

.product_controls span{
  @apply self-center;
}

#productminicarousel{
 @apply  w-full h-full rounded-3xl;
 padding: 5px 35px 10px 0px !important;
}

#productminicarousel .swiper-scrollbar-drag{
  @apply bg-white;
 }
 

.mini_slide_item{
  @apply  rounded-lg overflow-hidden relative h-[200px];
}

.mini_slide_item img{
  @apply h-full w-full object-cover;
}


/*######################## All ProductS ########################*/

#all_products{
  @apply flex flex-wrap gap-6 py-16 px-3 md:px-6 justify-center items-center;
}

.search_wrapper{
 @apply  w-full flex justify-center relative;
}

.search{
 @apply  w-[90%] md:w-[50%] py-8 text-white z-10;
}

.search input{
  @apply  w-[70%] text-base;
 }

.search label, .search button, .search input{
  @apply text-white;
}

.search input{
  @apply w-full;
}

.search_result{
 @apply  bg-white absolute left-0 bottom-0 max-h-24 overflow-y-auto text-black rounded-xl w-full p-6 translate-y-[70%] z-30 border-[1px]
}

.search_result span{
  @apply hover:bg-black hover:bg-opacity-10 rounded-lg p-1;
}

.search_ocult{
 @apply  hidden;
}

.search_result span{
  @apply block;
}

.products_wrapper{
  @apply flex flex-col flex-nowrap relative overflow-hidden rounded-xl w-full sm:w-fit;
}

.products_wrapper:nth-child(n) .products_content{
  @apply text-black text-opacity-80 bg-white bg-opacity-90;
}

.products_wrapper:nth-child(2) .products_content{
  @apply text-white text-opacity-80 bg-rose bg-opacity-90;
}

.products_wrapper:nth-child(3n) .products_content{
  @apply text-white text-opacity-80 bg-black bg-opacity-90;
}

.products_wrapper:nth-child(4n) .products_content{
  @apply text-white text-opacity-80 bg-green bg-opacity-90;
}

.products_content span{
  @apply text-sm;
}

.products_img{
 @apply  w-full sm:h-48 bg-white;
}

.products_img img{
  @apply  w-full h-full object-cover hover:scale-105 duration-300 transition-[transform];
 }

.products_content{
 @apply  bg-white absolute top-0 left-6 right-6 pb-1 pt-3 rounded-b-lg shadow-lg grid place-items-center;
}

.btn_products_add{
 @apply  absolute bottom-4 right-4 text-2xl bg-white text-rose h-10 w-10 grid place-items-center rounded-full hover:scale-105 duration-300 transition-[transform] cursor-pointer;
}

.all_products_discount img{
 @apply  absolute bottom-0 left-3 h-20 w-20;
}

.discount_text{
 @apply  absolute bottom-7 left-6 text-white text-base;
} 

.nextui-dropdown-menu{
  @apply z-20;
}

#productscarousel{
  @apply px-6 pt-2 pb-12 md:py-8 md:pb-20 my-16 md:mb-20;
}

.slide_item{
  @apply  max-w-[400px] rounded-lg overflow-hidden;
}


.slide_item:nth-child(n) a .product_carousel_content{
 @apply bg-rose bg-opacity-70 text-white text-opacity-80 flex flex-col absolute bottom-0 left-0 right-0 p-4;
}

.slide_item:nth-child(2n) a .product_carousel_content{
  @apply bg-green bg-opacity-70;
}

.slide_item:nth-child(3n) a .product_carousel_content{
  @apply bg-white bg-opacity-70 text-black text-opacity-80;
}

.slide_item:nth-child(4n) a .product_carousel_content{
  @apply bg-black bg-opacity-70 text-white text-opacity-80;
}

.product_carousel_img img{
  @apply w-auto min-h-[300px] object-cover min-w-[200px] hover:scale-110 duration-300 transition-[transform];
}

.add_cart_carousel{
 @apply  absolute right-[15px] bottom-[10px] bg-rose text-white text-2xl h-[40px] w-[40px] grid place-items-center rounded-full hover:scale-110 duration-300 transition-[transform]; 
}

.product_carousel_discount img{
 @apply  absolute -top-2 -right-2 h-28 w-28;
}
 
 .product_carousel_discount_text{
  @apply  absolute top-8 right-9 text-white text-2xl;
 } 

 .pagination{
  @apply  inline-flex w-full justify-center pt-8;
 }

 /*######################## Success Page ########################*/

 #success{
  @apply  bg-green bg-opacity-20 rounded-3xl mx-6 mt-12 mb-24 flex flex-col justify-center items-center
 }

 #success img{
  @apply  mb-10
 }

 #success p{
  @apply  text-rose text-sm md:text-lg text-center px-4
 }

 #success a{
  @apply text-green text-opacity-90
 }

 .success_icons{
  @apply  flex flex-row text-green my-6 mb-20
 }

 .success_icons *{
  @apply h-8 w-8 mx-2 cursor-pointer
 }