@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rose: #c37c7c;
  --heroheightsm: calc(100vh - 60px);
  --heroheightmd: calc(100vh - 80px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Comfortaa-Medium', Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, .nav_text, .menu_item, .small_nav span{
  font-family: 'Comfortaa-Bold', Verdana, Geneva, Tahoma, sans-serif;
}

.title{
  @apply text-3xl md:text-4xl text-rose text-center my-16 uppercase;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover, .cart:hover{
  @apply transition-all scale-110 duration-300 ease-in-out;
}

.btn_cta{
  @apply border-rose border-2 rounded-full px-8 py-3 text-white block mx-auto text-[1.3rem];
  font-family: 'Comfortaa-Bold', Verdana, Geneva, Tahoma, sans-serif;
}

.btn_cta:hover{
  @apply scale-110 transition-all duration-300 ease-in-out text-white;
}

.x_menu{
  @apply block text-end pr-4 text-rose text-2xl;
}

@font-face {
  font-family: "Comfortaa-Light";
  src: local("/fonts/Comfortaa-Light"),
   url("/fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Comfortaa-Medium";
  src: local("/fonts/Comfortaa-Medium"),
   url("/fonts/Comfortaa-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: local("/fonts/Comfortaa-Bold"),
   url("/fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Forum-Regular";
  src: local("/fonts/Forum-Regular"),
   url("/fonts/Forum-Regular.ttf") format("truetype");
  font-weight: medium;
}


/*########################  Nav ##########################*/

.logo{
  border-radius: 100%;
  border-bottom: 4px solid var(--rose);
}

.nav_text{
  @apply mx-4 place-self-center text-rose text-base uppercase;
}

.menu_item{
  @apply block text-rose mt-5 text-center text-base uppercase;
}

.openmenu{
  transform: rotate(90deg);
  transition: transform 600ms;
}
.closemenu{
  transform: rotate(0deg);
  transition: transform 600ms;
}

.small_nav{
  @apply absolute top-[62px] h-fit w-full pb-10 z-10 bg-bege;
}

.activemenu{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 400ms, opacity 400ms, visibility 400ms;
  }

  .hidemenu{
    visibility: hidden;
    opacity: 0;
    transform: translateX(-120%);
    transition: transform 400ms, opacity 400ms, visibility 400ms;
}



/*######################## Cart ########################*/

.showcartmenu{
  visibility: visible;
  opacity: 1;
}

.hidecartmenu{
  visibility: hidden; 
  opacity: 0;
}

.showcart{
  transform: translateX(0);
  transition: transform 200ms;
}

.hidecart{
  transform: translateX(100vw);
  transition: transform 200ms;
}

.showmask{
  filter: blur(10rem);
  left: 0;
  transition: left 600ms;
}

.hidemask{
  left: 100vw;
  transition: left 600ms;
}

.mask_cart{
  @apply h-full w-full fixed top-0 z-30 bg-[rgba(0,0,0,0.7)] cursor-pointer;
}

.cart_container{
  @apply h-full fixed top-0 right-0 w-full sm:w-[80vw] md:w-[40vw] z-30 flex flex-nowrap flex-col sm:rounded-l-3xl overflow-y-auto px-3;
}

.x_cart{
  @apply fixed top-5 right-5 text-2xl z-50 px-4 py-[7px] bg-white text-rose cursor-pointer rounded-full shadow-lg hover:scale-110 transition-[transform] duration-300;
}

.cart_header{
  @apply w-full h-28 text-2xl my-6 text-center grid place-content-center text-white;
}

.cart_items{
  @apply w-full h-full;
}

.item_cart{
  @apply w-full h-40 bg-white bg-opacity-70 my-3 flex flex-nowrap rounded-lg overflow-hidden shadow-2xl;
}

.cart_img{
  @apply w-1/2;
}

.cart_img img{
 @apply  h-full w-full object-cover overflow-hidden;
}

.cart_item_title{
 @apply  mt-4 sm:my-2;
}

.cart_item_content{
 @apply  p-2 w-1/2 relative;
}

.qty_controls{
 @apply  pb-4 pt-2 sm:py-4;
}

.cart_item_commands{
 @apply  mb-4;
}

.cart_btn{
 @apply bg-rose text-base sm:text-xl mr-2 sm:mr-4 w-6 h-6 sm:w-8 sm:h-8 rounded-full text-white shadow-lg hover:scale-105 transition-transform duration-300;
}

.cart_item_commands span{
 @apply  pr-2 sm:pr-4 my-3;
}

.cart_buy_btn{
 @apply  py-8;
}

.cart_buy_btn button{
 @apply border-white hover:border-2 rounded-full px-8 py-3 text-white block mx-auto text-lg bg-green bg-opacity-80 hover:scale-110 transition-all duration-300;
}

.cart_trash{
 @apply  absolute bottom-2 right-2 lg:bottom-5 lg:right-5 cursor-pointer hover:scale-110 transition-[transform] duration-300;
}

/*######################## Carousel ########################*/

.carousel{
  @apply md:h-[var(--heroheightmd)] h-[var(--heroheightsm)];
}

.hero_item{
  @apply h-full w-full object-cover;
  animation: zoominoutsinglefeatured 60s infinite;
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.swiper-button-prev, .swiper-button-next{
  color: var(--rose) !important;
  text-shadow: -1px 2px 8px rgba(0, 0, 0, 0.6) !important;
}

.swiper-pagination-bullet-active {
  background: var(--rose) !important;
}


/*######################## Product ########################*/

.product_box{
  @apply w-[200px] h-[200px] bg-bege rounded-3xl overflow-hidden;
  border-bottom: 2px solid #c37c7c;
}

.fav_item{
  @apply hover:scale-105 transition-all duration-500 m-2;
}

.fav_item img{
  @apply object-cover w-[90vw] h-auto sm:w-full sm:h-32 md:h-48;
}

/*######################## Categories ########################*/

.fav_categories{
  @apply flex flex-wrap justify-center align-middle mb-20 py-20;
}

.fav_categories div{
  @apply hover:scale-105 transition-all duration-100 rounded-lg overflow-hidden;
}

.fav_categories div img{
  @apply hover:scale-110 transition-all duration-700 overflow-hidden;
}


.categories{
  @apply flex flex-row justify-evenly align-middle flex-wrap;
}

.categories_div{
  @apply p-4 flex flex-col text-center items-center hover:scale-105 duration-300 transition-all;
}

.categories_items{
  @apply w-20 h-20 inline-flex items-center justify-center rounded-full text-white mb-5 flex-shrink-0;
}

.cat_description{
  @layer text-lg title-font font-medium mb-3;
}

/*######################## Galery ########################*/

.galery{
  @apply text-rose;
}

.galery_grid{
  @apply px-6 pb-12 flex flex-col md:grid lg:grid-flow-row md:grid-cols-2 md:grid-rows-[repeat(5,minmax(100px,400px))] lg:grid-cols-3 lg:grid-rows-[repeat(4,minmax(100px,400px))] gap-6;
}

.galery_grid img{
  @apply h-full w-full object-cover rounded-lg;
}


/*######################## Footer ########################*/

.footer{
  @apply text-white bg-rose;
}

.footer_container{
  @apply px-16 py-16 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col;
}
